* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*updated from ".header""" to "header" to map to html file change*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*updated from ".header""" to "header" to map to html file change*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*updated from ".header""" to "header" to map to html file change*/
header h1 .seo {
    color: #d9dcd6;
}

/*updated from ".header""" to "header" to map to html file change*/
/*updated from "div" to "nav" to map to html file change*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*updated from ".header""" to "header" to map to html file change*/
/*updated from "div" to "nav" to map to html file change*/
header nav ul {
    list-style-type: none;
}

/*updated from ".header""" to "header" to map to html file change*/
/*updated from "div" to "nav" to map to html file change*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*updated from ".hero" to "figure" to map to html file change*/
/*updated from "figure" to "figure img" to map to html file change*/
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /*background-image: url("../images/digital-marketing-meeting.jpg"); (NO LONGER REQUIRED)*/
    background-size: cover;
    background-position: center;
    /*this was added so that the image didn't appear stretched*/
    object-fit: cover;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*updated from ".content" to "section" to map to html file change*/
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*updated from ".benefits" to "aside" to map to html file change*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*updated from ".benefit-lead" to "summary" to map to html file change*/
summary {
    margin-bottom: 32px;
    color: #ffffff;
}

/*updated from ".benefit-brand" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary {
    margin-bottom: 32px;
    color: #ffffff;
}*/

/*updated from ".benefit-cost" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary {
    margin-bottom: 32px;
    color: #ffffff;
}*/

/*updated from ".benefit-lead" to "summary" to map to html file change*/
summary h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*updated from ".benefit-brand" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary h3 {
    margin-bottom: 10px;
    text-align: center;
}*/

/*updated from ".benefit-cost" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary h3 {
    margin-bottom: 10px;
    text-align: center;
}*/

/*updated from ".benefit-lead" to "summary" to map to html file change*/
summary img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*updated from ".benefit-brand" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}*/

/*updated from ".benefit-cost" to "summary" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*summary img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}*/

/*updated from ".search-engine-optimization" to "article" to map to html file change*/
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*updated from ".online-reputation-management" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/

/*updated from ".social-media-marketing" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/

/*updated from ".search-engine-optimization" to "article" to map to html file change*/
article img {
    max-height: 200px;
}

/*updated from ".online-reputation-management" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*article img {
    max-height: 200px;
}*/

/*updated from ".social-media-marketing" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*article img {
    max-height: 200px;
}*/

/*updated from ".search-engine-optimization" to "article" to map to html file change*/
article h2 {
    margin-bottom: 20px;
    /*font-size: 36px;*/
}

/*updated from ".online-reputation-management" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

/*updated from ".social-media-marketing" to "article" to map to html file change*/
/*when I updated this class to a semantic element, it no longer made it unique and therefore didn't require its own css
to work*/
/*.article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

/*updated from ".footer" to "footer" to map to html file change*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*updated from ".footer" to "footer" to map to html file change*/
footer h2 {
    font-size: 20px;
}
